<div class="p-3 text-muted border-top">
    <!--
    ---- footer large
    -->
    <div class="container-lg screenLarge">
        <small>© {% now "Y" %} <a href="https://www.bluemove.or.kr"
                style="color: currentColor; text-decoration: none;">파란물결 블루무브</a></small>
    </div>

    <!--
    ---- footer small
    -->
    <div class="container-lg screenSmall text-center">
        <small class="vertical">© {% now "Y" %} <a href="https://www.bluemove.or.kr"
                style="color: currentColor; text-decoration: none;">파란물결 블루무브</a></small>
    </div>
</div>