{% load static socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.name == 'Google' %}
<!-- Google 로그인 -->
<a href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"
    class="btn bg-white border d-inline-flex align-items-center" style="width: 231px; cursor: pointer;" id="google">
    <img class="me-3" src="{% static 'images/google.svg' %}" height="18">
    <span class="vertical" style="font-weight: bolder; color: rgba(0,0,0,.54);">{{ provider.name }} 계정으로 로그인</span>
</a>
{% endif %}
{% endfor %}