{% extends 'base.html' %}

{% load static socialaccount i18n %}

{% block meta %}
<meta property="og:url" content="{% url 'account_login' %}">
<meta property="og:title" content="블루무브 포털 - 로그인">
<meta property="og:description" content="블루무브 포털 - 로그인">
<meta name="subject" content="블루무브 포털 - 로그인">
<meta name="description" content="블루무브 포털 - 로그인">
<meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block title %} 블루무브 포털 - 로그인 {% endblock %}

{% block content %}
<!--
---- inner styles
-->
<style type="text/css">
    video {
        z-index: -1;
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        transform: translateX(calc((100% - 100vw) / 2));
    }

    @media (min-aspect-ratio: 16/9) {
        video {
            width: 100%;
            height: auto;
        }
    }

    @media (max-aspect-ratio: 16/9) {
        video {
            width: auto;
            height: 100%;

        }
    }
</style>

<!--
---- inner contents
-->
<video autoplay muted loop style="z-index: 1;">
    <source src="{% static 'videos/bgLogin.mp4' %}" type="video/mp4">
</video>
<div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0,0,0,.5); z-index: 2;">
    <div class="container rounded text-center p-4"
        style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <a href="{% url 'home:main' %}" title="블루무브 포털 메인 페이지로 이동">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                id="Layer_1" x="0px" y="0px" viewBox="0 0 1277.3 265.59"
                style="enable-background:new 0 0 1277.3 265.59;" xml:space="preserve" height="28">
                <style type="text/css" async>
                    .st0 {
                        fill: #0077C8;
                    }

                    .st1 {
                        fill: url(#SVGID_1_);
                    }

                    .st2 {
                        fill: #FFFFFF;
                        stroke: #FFFFFF;
                        stroke-width: 6;
                        stroke-miterlimit: 10;
                    }
                </style>
                <g>
                    <g>
                        <path class="st0"
                            d="M133.81,0C59.91,0,0,59.45,0,132.8c0,73.34,59.91,132.79,133.81,132.79c40.08,0,76.02-17.51,100.54-45.23    c0.28-0.31,0.28-0.78,0-1.1c-0.28-0.32-0.76-0.38-1.1-0.14c-11.32,7.59-24.48,13.06-38.74,15.93c-1.91,0.14-3.81,0.32-5.75,0.32    c-45.26,0-81.95-36.43-81.95-81.34c0-28.82,15.14-54.05,37.93-68.47c2.61,7.71,1.25,16.39-2.14,22.63    c-0.08,0.15-0.06,0.33,0.04,0.47c0.11,0.13,0.28,0.19,0.45,0.15c11-2.98,21.08,0.09,26.35,6.36c4.81,5.7,6.39,13.36,3,22.26    c-0.22,0.57-0.44,1.13-0.65,1.65c-1.6,3.92-4.09,7.35-7.31,10.11c-2.16,1.85-3.53,4.59-3.53,7.65c0,5.6,4.58,10.14,10.23,10.14    c5.11,0,9.64-3.82,10.13-9.1c0.03-0.39,0.15-0.77,0.2-1.16c0.67-10.37,9.28-18.6,19.9-18.6c8.14,0,15.08,4.84,18.2,11.77    c0.07,0.17,0.26,0.25,0.43,0.22c0.18-0.04,0.3-0.2,0.3-0.38c0-0.05,0-0.1,0-0.15c-0.04-9.87,8.48-19.47,20.04-19.47    c10.3,0,18.74,7.74,19.84,17.68c0.02,0.15,0.14,0.27,0.29,0.29c0.15,0.02,0.3-0.07,0.35-0.21C282.73,91.13,226.99,0,133.81,0z" />
                        <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="128.1636" y1="110.3517"
                            x2="132.0846" y2="200.532">
                            <stop offset="0" style="stop-color:#E6F5FC" />
                            <stop offset="1" style="stop-color:#56B7E6" />
                        </linearGradient>
                        <path class="st1"
                            d="M188.75,235.37c-45.26,0-81.95-36.43-81.95-81.34c0-28.82,15.14-54.05,37.93-68.47    c-1.44-4.22-4.03-8.14-8.2-11.21c-3.02-2.23-6.2-3.53-9.43-4.17c-40.12-7.93-88.69,74.33-33.69,133.91    c18.74,20.29,47.06,33.23,78.75,33.23c7.69,0,15.15-0.82,22.35-2.27C192.6,235.19,190.7,235.37,188.75,235.37z" />
                    </g>
                    <g>
                        <path class="st2"
                            d="M463.1,123.08v10.06H327.68v-10.06H463.1z M356.51,196.15h93.52v9.72H344.61v-34.53h88.83V157.1H344.1v-9.55    h101.4v32.85h-89V196.15z M445.17,109.84h-99.56V60.39h12.07v14.75h75.42V60.39h12.07V109.84z M433.1,84.69h-75.42v15.42h75.42    V84.69z" />
                        <path class="st2"
                            d="M617.47,159.11h-62.01v48.77h-12.07v-48.77h-61.68v-10.22h135.76V159.11z M588.64,73.97h-90.51V63.91h102.74    v38.38h-90v20.11h93.35v10.22H498.47V92.57h90.17V73.97z" />
                        <path class="st2"
                            d="M771.83,155.59h-62.18v52.12h-12.24v-52.12h-61.68v-10.22h136.09V155.59z M754.06,124.25H653.33V66.09h100.73    V124.25z M742.16,76.15h-76.93v38.21h76.93V76.15z" />
                        <path class="st2"
                            d="M926.02,177.21v10.22H790.1v-10.22H926.02z M818.59,68.77v28.16h78.77V68.77h11.9v77.77H806.52V68.77H818.59z     M818.59,136.32h78.77v-29.33h-78.77V136.32z" />
                        <path class="st2"
                            d="M1127.15,178.55v10.22H991.22v-10.22h61.51v-35.53h-48.94V132.8h23.46V82.68h-23.8V72.46h110.62v10.22h-23.8    v50.11h23.63v10.22h-48.94v35.53H1127.15z M1039.49,132.8h38.55V82.68h-38.55V132.8z" />
                        <path class="st2"
                            d="M1229.89,128.61c-20.28,3.35-36.54,3.85-65.87,3.85h-10.89V67.1h67.21v10.06h-54.97v17.1h51.12v9.55h-51.12    v18.6c28.16,0,44.08-0.34,63.35-3.69L1229.89,128.61z M1274.3,195.98v9.89h-101.57v-35.03h83.63v-15.08h-84.14v-9.72h96.04v34.02    h-83.63v15.92H1274.3z M1256.03,102.8h-28.83V92.74h28.83V57.71h12.24V139h-12.24V102.8z" />
                    </g>
                </g>
            </svg>
        </a>
        <h4 class="mt-4 pb-4" style="font-weight: bolder; color: #FFFFFF;">어서오세요! <span id="emoji"></span></h4>
        <div class="mb-3">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </div>
        {% get_providers as socialaccount_providers %}
        {% for provider in socialaccount_providers %}
        {% if provider.name == "Google" %}
        <div>
            <a href="{% provider_login_url provider.id process=process scope='https://www.googleapis.com/auth/drive, https://www.googleapis.com/auth/documents' auth_params='hd=bluemove.or.kr' %}"
                data-bs-toggle="tooltip" data-bs-placement="bottom" title=""
                data-bs-original-title="현재 활동 중인 블루무버만 해당합니다."
                class="btn bg-white border d-inline-flex align-items-center" style="width: 231px; cursor: pointer;">
                <img class="me-3" src="{% static 'images/bluemovePortalSym.svg' %}" height="18">
                <span class="vertical" style="font-weight: bolder; color: rgba(0,0,0,.54);">블루무버 계정으로 로그인</span>
            </a>
        </div>
        {% endif %}
        {% empty %}
        {% endfor %}
    </div>
</div>

<!--
---- inner scripts
-->
<script type="text/javascript" async>
    window.onload = function () {
        var nav = document.querySelector("nav");
        var footer = document.querySelector("footer");
        nav.hidden = true;
        footer.hidden = true;
    }
</script>
<script type="text/javascript">
    var emoji = new Array("o(>ω<)o", "o( ❛ᴗ❛ )o", "(๑˃ᴗ˂)ﻭ", "(´･ᴗ･ ` )", "(„• ֊ •„)", "(.❛ ᴗ ❛.)", "(≧◡≦)", "(o´∀`o)", "(*≧ω≦*)", "＼(≧▽≦)／", "ヽ(o＾▽＾o)ノ", "٩(◕‿◕｡)۶", "ヽ(・∀・)ﾉ", "(´｡• ω •｡`)", "ヽ(*・ω・)ﾉ", "(o´▽`o)", "(*´▽`*)", "(o˘◡˘o)");
    function randomItem(e) {
        return e[Math.floor(Math.random() * e.length)];
    }
    document.querySelector("#emoji").innerText = randomItem(emoji);
</script>
<script type="text/javascript">
    (function blockKakaoTalk() {
        let agent = navigator.userAgent.toLowerCase();
        console.log((agent.indexOf("kakaotalk")) !== -1)
        if ((agent.indexOf("kakaotalk")) !== -1) {
            alert("죄송합니다.\nGoogle 보안 정책에 의해 카카오톡 인앱 브라우저에서는 Google 계정 로그인이 불가합니다.\n번거로우시겠지만 블루무브 포털에 최적화된 Chrome으로 이용 부탁드립니다. 🙏");
        }
        console.log((agent.indexOf("naver")) !== -1)
        if ((agent.indexOf("naver")) !== -1) {
            alert("죄송합니다.\nGoogle 보안 정책에 의해 네이버앱 인앱 브라우저에서는 Google 계정 로그인이 불가합니다.\n번거로우시겠지만 블루무브 포털에 최적화된 Chrome으로 이용 부탁드립니다. 🙏");
        }
    })();
</script>
{% endblock %}