/*
** fonts
*/
.vertical {
    display: inline-block;
    vertical-align: top;
    padding : 0 0 0.15em;
}

/*
** bg
*/
.bg-bluemove {
    background-color: #0077C8 !important;
}
.bg-black025 {
    background-color: rgba(0,0,0,.025) !important;
}

/*
** transition
*/
@keyframes fadein {
    from { opacity: .3; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: .3; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: .3; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: .3; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: .3; }
    to   { opacity: 1; }
}
.fade-in {
    -webkit-animation: fadein .2s;
       -moz-animation: fadein .2s;
        -ms-animation: fadein .2s;
         -o-animation: fadein .2s;
            animation: fadein .2s;
}
.fade-out {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
    opacity: .3;
}

/*
** screenLarge, screenSmall
*/
@media screen and (min-width: 768px) {
    .screenSmall {
        display: none;
    }
    .breadcrumb-screen {
        height: 15rem;
    }
}
@media screen and (max-width: 767px) {
    .screenLarge {
        display: none;
    }
    .breadcrumb-screen {
        height: 10rem;
    }
}

/*
** navLarge
*/
.p-nav-sign {
    padding-right: .8rem;
}
.p-nav-item {
    padding: .8rem;
}
.p-nav-account {
    padding-left: .8rem;
}
.a-nav-item {
    color: currentColor;
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    /* box-shadow: 0 4px 1.5px -1.5px transparent; */
}
.a-nav-item:hover,
.a-nav-item:focus,
.a-nav-item.active {
    color: #0077C8;
    font-weight: bolder;
    border-top: 4px solid transparent;
    border-bottom: 4px solid #0077C8;
    /* box-shadow: 0 4px 1.5px -1.5px #0077C8; */
}

.nav-link {
    padding-right: .5rem!important;
    padding-left: .5rem!important;
    padding-top: .25rem!important;
    padding-bottom: .25rem!important;
    border-radius: .25rem!important;
}
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    font-weight: bolder;
    background-color: rgba(0,0,0,.1);
}
.nav-masthead .active {
    font-weight: bolder;
    background-color: rgba(0,0,0,.1);
}
.dropdown-menu {
    z-index: 1050 !important;
}
.dropdown-item:hover,
.dropdown-item:focus {
    font-weight: bolder;
    color: #212529 !important;
}
.dropdown-item:active {
    font-weight: bolder;
    color: #FFFFFF !important;
    background-color: #0077C8 !important;
}
.dropdown-item.active {
    font-weight: bolder;
    color: #FFFFFF !important;
    background-color: #0077C8 !important;
    text-decoration: underline;
}

/*
** navSmall, accordion
*/
.offcanvas-body, .accordion-body-0 {
    padding: 0 !important;
}
.list-group-item.no-border, .offcanvas-nav, .accordion-button-1rem {
    padding: 1rem 1rem !important;
    border-width: 0 0 0 !important;
}
.nav-small-item:hover,
.nav-small-item:focus,
.nav-small-item:active {
    font-weight: bolder !important;
    color: #212529 !important;
    background-color: transparent !important;
    text-decoration: underline !important;
}
.list-group-item.active {
    font-weight: bolder !important;
    color: #212529 !important;
    background-color: transparent !important;
    text-decoration: underline !important;
}
.accordion-button:not(.collapsed) {
    font-weight: bolder;
    color: #FFFFFF !important;
    background-color: #0077C8 !important;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}
.accordion-button:focus {
    box-shadow: none !important;
}
.accordion-button-20px {
    padding: 1rem 20px !important;
}

/*
** banner text
*/
.carousel-caption {
    color: #545859;
}

/*
** breadcrumb
*/
.breadcrumb-base {
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .4), inset 0 .125em .5em rgba(0, 0, 0, .6);
}
.breadcrumb-layer {
    background-color: rgba(0, 119, 200, 0.5);
    width: 100%;
    height: 100%;
}
.breadcrumb-checklist {
    background-image: url('/static/images/breadcrumbChecklist.jpg');
    background-position: center 40%;
}
.breadcrumb-checkcert {
    background-image: url('/static/images/breadcrumbCheckcert.jpg');
    background-position: center 45%;
}
.breadcrumb-issuecert {
    background-image: url('/static/images/breadcrumbIssuecert.jpg');
    background-position: center 32.5%;
}
.breadcrumb-applymembership {
    background-image: url('/static/images/breadcrumbApplymembership.jpg');
    background-position: center 40%;
}
.breadcrumb-account {
    background-image: url('/static/images/breadcrumbAccount.jpg');
    background-position: center 47.5%;
}

/*
** container
*/
.container-lg, .container-fluid {
    padding: 0 !important;
}

/*
** shadow-hover
*/
.shadow-hover, .shadow-hover-strong {
    transition: box-shadow .25s ease-in-out;
}
.shadow-double {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.25)!important;
}

/*
** card-body
*/
.card-body {
    padding: 1.25rem !important;
}

/*
** alert-primary
*/
.alert-primary {
    color: #212529 !important;
    background-color: rgba(0,119,200,.1) !important;
    border-color: rgba(0,119,200,.2) !important;
}

/*
** paginator
*/
.page-link {
    color: #545859 !important;
    border: none !important;
}
.page-link:hover, .page-link:focus {
    color: #212529 !important;
    text-decoration: underline;
}
.page-item.active .page-link {
    font-weight: bolder;
    color: #FFFFFF !important;
    background-color: #0077C8 !important;
    border: none !important;
}

/*
** checklist contentSmall
*/
.list-group-item {
    padding: 1rem 1rem !important;
}

/*
** gradient
*/
.linear {
    background-color: rgb(0,119,200) !important;
    background: rgb(0,119,200);
    background: linear-gradient(135deg, rgba(21,207,170,1) 0%, rgba(0,119,200,1) 100%);
}

/*
** a
*/
.a-bluemove {
    color: #0077C8;
    text-decoration: none;
}
.a-bluemove:hover,
.a-bluemove:focus,
.a-bluemove:active {
    color: #0077C8;
    text-decoration: underline;
}
.a-dark-bluemove {
    color: #545859;
    text-decoration: none;
}
.a-dark-bluemove:hover,
.a-dark-bluemove:focus,
.a-dark-bluemove:active {
    color: #545859;
    text-decoration: underline;
}

/*
** btn
*/
.btn-primary {
    color: #FFFFFF !important;
    background-color: #0077C8 !important;
    border-color: #0077C8 !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    color: #FFFFFF !important;
    background-color: #005994 !important;
    border-color: #005994 !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
    color: #FFFFFF !important;
    background-color: #51585F !important;
    border-color: #51585F !important;
}
.btn-outline-primary {
    color: #0077C8 !important;
    border-color: #0077C8 !important;
}
.btn-outline-primary:hover {
    color: #FFFFFF !important;
    background-color: #0077C8 !important;
    border-color: #0077C8 !important;
}

/*
** switches
*/
.form-check-input:checked {
    background-color: #0077C8 !important;
    border-color: #0077C8 !important;
}