{% extends 'base.html' %}

{% load static socialaccount i18n %}

{% block meta %}
<meta property="og:url" content="{% url 'account_login' %}">
<meta property="og:title" content="블루무브 포털 - 개인정보 등록">
<meta property="og:description" content="블루무브 포털 - 개인정보 등록">
<meta name="subject" content="블루무브 포털 - 개인정보 등록">
<meta name="description" content="블루무브 포털 - 개인정보 등록">
<meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block title %} 블루무브 포털 - 개인정보 등록 {% endblock %}

{% block breadcrumb %}
<div class="breadcrumb-screen breadcrumb-base breadcrumb-account">
    <div class="d-flex align-items-center breadcrumb-layer">
        <div class="container-lg text-center">
            <h1 class="screenLarge m-0" style="color: #FFFFFF; text-shadow: 1px 1px 5px #212529;">개인정보 등록</h1>
            <h2 class="screenSmall m-0" style="color: #FFFFFF; text-shadow: 1px 1px 5px #212529;">개인정보 등록</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="card shadow-hover">
    <div class="card-body" style="background-color: rgba(0,0,0,.025);">
        <h5 class="card-title pb-1">개인정보 등록
            <a href="#none" class="ms-1" data-bs-toggle="tooltip" data-bs-placement="right" title=""
                data-bs-original-title="이 과정은 첫 로그인 시에만 진행됩니다." style="color: #545859 !important;" aria-label="도움말">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-question-circle" viewBox="0 0 16 16" style="margin-bottom: .2rem;">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path
                        d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                </svg>
            </a>
        </h5>
        <form action="{% url 'socialaccount_signup' %}" method="POST" enctype="multipart/form-data" class="signup"
            id="signupForm" onsubmit="phoneNumValidation()">
            {% csrf_token %}
            <div class="alert alert-primary" role="alert">
                <h5>개인정보 수집·이용 동의</h5>
                <p>본인은 개인정보보호법에 의거하여 파란물결 블루무브가 본인의 블루무브 포털 서비스 이용과 관련하여 아래와 같이 개인정보를 수집하고 이용하는 것에 동의합니다.</p>
                <ol style="padding-left: 18px;">
                    <li>수집 및 이용 목적</li>
                    <ul style="padding-left: 20px;">
                        <li>사용자 관리: 본인 확인 및 개인 식별, 가입지원자 관리, 민원 처리 및 고지 사항 전달 등</li>
                        <li>서비스 제공: 전자문서 생성·제출·승인 처리, 블루무버 대상 업무 편의 기능 등</li>
                    </ul>
                    <li>수집 항목</li>
                    <ul style="padding-left: 20px;">
                        <li>Google 계정 이메일 주소, Google 계정 프로필 사진, 성명, 휴대전화 번호</li>
                    </ul>
                    <li>보유 및 이용 기간</li>
                    <ul style="padding-left: 20px;">
                        <li>일반 사용자: 이용 목적 달성 후 즉시 파기</li>
                        <li>블루무버(활동 회원): 활동 기간 종료 시 파기</li>
                        <li>모든 사용자: 30일 간 비활성 시 즉시 파기</li>
                    </ul>
                    <li>동의 거부 시 불이익</li>
                    <ul style="padding-left: 20px;">
                        <li>본인은 상기 개인정보의 수집 및 이용에 거부할 권리를 보유하고 있으며, 동의를 거부할 경우 블루무브 포털 서비스 이용이 불가함을 인지하고 있습니다.</li>
                    </ul>
                </ol>
                <div class="d-flex justify-content-end">
                    <div class="form-check d-flex align-items-center">
                        <input class="form-check-input phone-num-validation" type="checkbox" value="unchecked"
                            id="agreementCheckbox" onclick="agreementCheck(this)" required>
                        <label class="form-check-label ms-2" for="agreementCheckbox">
                            위 내용에 동의합니다.
                        </label>
                    </div>
                </div>
            </div>
            <div style="margin-bottom: 1rem;">
                <label for="id_email" class="form-label">이메일 주소
                    <a href="#none" class="ms-1" data-bs-toggle="tooltip" data-bs-placement="right" title=""
                        data-bs-original-title="이메일 주소는 변경할 수 없습니다." style="color: #545859 !important;"
                        aria-label="도움말">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-question-circle" viewBox="0 0 16 16" style="margin-bottom: .2rem;">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path
                                d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                        </svg>
                    </a>
                </label>
                {{ form.email }}
            </div>
            <div class="row row-cols-1 row-cols-md-2 g-3">
                <div class="col">
                    <div class="d-flex justify-content-start">
                        <label for="id_last_name" class="form-label">성</label><label for="id_first_name"
                            class="form-label">명</label>
                    </div>
                    <div class="input-group">
                        {{ form.last_name }}
                        {{ form.first_name }}
                    </div>
                </div>
                <div class="col">
                    <label for="id_phone" class="form-label">휴대전화 번호</label>
                    {{ form.phone }}
                </div>
            </div>
            <div id="phoneNumVCodeDiv" style="margin-top: 1rem;" hidden>
                <div class="screenLarge">
                    <div class="d-flex justify-content-between">
                        <label for="id_v_code" class="form-label">인증 번호</label>
                        <small style="margin-top: .125rem;"><i class="bi bi-clock me-1"></i><span
                                class="willExpireOnSpan"></span></small>
                    </div>
                </div>
                <div class="screenSmall">
                    <label for="id_v_code" class="form-label">인증 번호</label>
                    <small class="d-flex justify-content-center border border-secondary rounded-1 mb-3"
                        style="border-color: rgba(0,0,0,.3) !important;">
                        <i class="bi bi-clock me-1"></i><span class="willExpireOnSpan"></span></small>
                </div>
                <div class="input-group">
                    {{ form.v_code }}
                    <span class="input-group-text" id="phoneNumVCodeInfo">전송 완료</span>
                </div>
            </div>
            <div class="d-grid" style="padding-top: 1.25rem !important;">
                <button type="button" class="btn btn-outline-secondary" id="phoneNumVCodeBtn" aria-label="인증 번호 전송">
                    <i class="bi bi-envelope me-2"></i>인증 번호 전송</button>
                <button type="button" class="btn btn-outline-secondary" id="phoneNumVCodeCheckBtn" aria-label="인증 번호 확인"
                    hidden disabled>
                    <i class="bi bi-check2 me-2"></i>인증 번호 확인</button>
                <button type="button" class="btn btn-outline-secondary" id="resetBtn" aria-label="초기화" onclick="init()"
                    hidden disabled>
                    <i class="bi bi-bootstrap-reboot me-2"></i>초기화</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    // confirmation of consent to the collection and use of personal information
    function agreementCheck() {
        var agreementCheckbox = document.querySelector("#agreementCheckbox");
        if (agreementCheckbox.value == "unchecked") {
            agreementCheckbox.value = "checked";
            agreementCheckbox.setAttribute("checked", "");
        } else {
            agreementCheckbox.value = "unchecked";
            agreementCheckbox.removeAttribute("checked");
        }
    }
    // validation
    var patternNum = /[0-9]/; // number
    var patternSpc = /[ \[\]{}()<>?|`~!@#$%^&*-_+=,.;:\"\'\\]/; // special characters
    var patternSpcWithoutDash = /[ \[\]{}()<>?|`~!@#$%^&*_+=,.;:\"\'\\]/; // special characters without dash
    var patternEng = /[a-zA-Z]/; // alphabet
    var patternKor = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/; // Hangul
    var patternEml = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/ // email
    $("#id_last_name").keyup(function () {
        var foo = $(this).val().replace(/[a-z0-9]|[ \[\]{}()<>?|`~!@#$%^&*-_+=,.;:\"\'\\]/g, "");
        $(this).val(foo);
    });
    $("#id_first_name").keyup(function () {
        var foo = $(this).val().replace(/[a-z0-9]|[ \[\]{}()<>?|`~!@#$%^&*-_+=,.;:\"\'\\]/g, "");
        $(this).val(foo);
    });
    $("#id_phone").keyup(function () {
        var foo = $(this).val().replace(/[^0-9]/g, "").replace(/(^0[0-9]{2})([0-9]+)?([0-9]{4})$/, "$1-$2-$3").replace("--", "-");
        $(this).val(foo);
    });
    function onlyNumbers(e) {
        var regInt = /[^0-9]/gi;
        var inputKeyChar = String.fromCharCode(event.keyCode);
        if (regInt.test(inputKeyChar)) {
            event.returnValue = false;
        }
    }
    function validation() {
        if (agreementCheckbox.value !== "checked") {
            agreementCheckbox.focus();
            alert("개인정보 수집·이용에 동의해주세요.");
            return false;
        }
        if (id_last_name.value == "") {
            id_last_name.focus();
            alert("성을 입력해주세요.");
            return false;
        };
        if (!patternKor.test(id_last_name.value)) {
            id_last_name.focus();
            alert("성은 한글만 입력해주세요.");
            return false;
        };
        if (id_first_name.value == "") {
            id_first_name.focus();
            alert("이름을 입력해주세요.");
            return false;
        };
        if (!patternKor.test(id_first_name.value)) {
            id_first_name.focus();
            alert("이름은 한글만 입력해주세요.");
            return false;
        };
        if (id_phone.value.length !== 13) {
            id_phone.focus();
            alert("휴대전화 번호는 '010'으로 시작하는 숫자 11자리를 입력해주세요.");
            return false;
        };
        if (!patternNum.test(id_phone.value)) {
            id_phone.focus();
            alert("휴대전화 번호는 숫자만 입력해주세요.");
            return false;
        };
        if (id_phone.value.indexOf("010") !== 0) {
            id_phone.focus();
            alert("휴대전화 번호는 '010'으로 시작해야 합니다.");
            return false;
        };
        if (id_phone.value.indexOf("-") !== 3 &&
            id_phone.value.lastIndexOf("-") !== 8) {
            id_phone.focus();
            alert("올바른 휴대전화 번호를 입력해주세요.");
            return false;
        };
        if (id_phone.value.match(/-/g).length !== 2) {
            id_phone.focus();
            alert("올바른 휴대전화 번호를 입력해주세요.");
            return false;
        };
        if (!patternNum.test(id_last_name.value) &&
            !patternSpc.test(id_last_name.value) &&
            !patternEng.test(id_last_name.value) &&
            patternKor.test(id_last_name.value) &&
            !patternNum.test(id_first_name.value) &&
            !patternSpc.test(id_first_name.value) &&
            !patternEng.test(id_first_name.value) &&
            patternKor.test(id_first_name.value) &&
            patternNum.test(id_phone.value) &&
            !patternSpcWithoutDash.test(id_phone.value) &&
            !patternEng.test(id_phone.value) &&
            !patternKor.test(id_phone.value) &&
            id_phone.value.indexOf("010") == 0 &&
            id_phone.value.indexOf("-") == 3 &&
            id_phone.value.match(/-/g).length == 2) {
            return true;
        } else {
            alert("잘못된 값이 있습니다.\n올바른 값을 입력해주세요.");
            return false;
        };
    };
    // phone number validation
    function objectToJson(object) {
        const object_to_string = JSON.stringify(object);
        const string_to_json = JSON.parse(object_to_string);
        return string_to_json;
    }
    function phoneNumValidation() {
        lastName = $("#id_last_name").val();
        firstName = $("#id_first_name").val();
        phoneNum = $("#id_phone").val();
        vCodeInputValue = $("#id_v_code").val();
        err_msg = "문제가 발생했습니다.\n오류가 반복될 경우 사무국에 문의해주세요.\n\n☎️ 02-3296-0613\n📧 management@bluemove.or.kr"
        if (phoneNumVCodeDiv.hidden == false) {
            if (phoneNumVCodeValidation() == true) {
                $.ajax({
                    type: "POST",
                    url: "/member/phone-num-validation",
                    data: JSON.stringify(lastName + "#" + phoneNum + "#" + vCodeInputValue),
                    success: function (object) {
                        const status = objectToJson(object).status;
                        if (status == "passed") {
                            id_v_code.readOnly = true;
                            phoneNumVCodeCheckBtn.disabled = true;
                            phoneNumVCodeInfo.innerText = "인증 성공"
                            phoneNumVCodeInfo.setAttribute("style", "background: #0077C8; border-color: #0077C8; color: #FFFFFF;");
                            // call 'spinner (transition)' function
                            fadeOut();
                            // call 'avoiding duplicate requests (btn disabled)' function
                            setTimeout(inProgress, 0);
                            document.querySelector("form").submit();
                        } else {
                            phoneNumVCodeInfo.innerText = "인증 실패"
                            phoneNumVCodeInfo.setAttribute("style", "background: #ffc107; border-color: #ffc107;")
                            id_v_code.focus();
                            alert("올바른 인증 번호를 입력해주세요.");
                        }
                    },
                    error: function (xhr, errmsg, err) {
                        // console.log(xhr.status + ": " + xhr.responseText);
                        alert(err_msg);
                    }
                });
            } else {
                return false;
            }
        } else if (validation() == true) {
            if (confirm("올바른 정보인지 최종 확인해주세요.\n🙋 성명: " + lastName + firstName + "\n📱 휴대전화 번호: " + phoneNum + "\n\n위 휴대전화 번호로 인증 번호를 전송하시겠어요?")) {
                $.ajax({
                    type: "POST",
                    url: "/member/phone-num-validation",
                    data: JSON.stringify(lastName + "$" + phoneNum),
                    success: function (object) {
                        const status = objectToJson(object).status;
                        if (status == "generated") {
                            const expDatetime = objectToJson(object).expDatetime;
                            agreementCheckbox.disabled = true;
                            id_last_name.readOnly = true;
                            id_first_name.readOnly = true;
                            id_phone.readOnly = true;
                            phoneNumVCodeDiv.hidden = false;
                            id_v_code.required = true;
                            phoneNumVCodeBtn.hidden = true;
                            phoneNumVCodeBtn.disabled = true;
                            phoneNumVCodeCheckBtn.hidden = false;
                            phoneNumVCodeCheckBtn.disabled = false;
                            timeRemaining(expDatetime);
                        } else {
                            alert("STATUS CODE: " + status + "\n\n" + err_msg);
                        }
                    },
                    error: function (xhr, errmsg, err) {
                        // console.log(xhr.status + ": " + xhr.responseText);
                        alert(err_msg);
                    }
                });
            }
        } else {
            return false;
        }
    }
    $("#id_v_code").keyup(function () {
        var foo = $(this).val().replace(/[^0-9]/g, "");
        $(this).val(foo);
    });
    function phoneNumVCodeValidation() {
        vCodeInputValue = $("#id_v_code").val();
        if (vCodeInputValue == "") {
            alert("인증 번호를 입력해주세요.");
            return false;
        }
        if (vCodeInputValue.length !== 6) {
            alert("올바른 인증 번호를 입력해주세요.");
            return false;
        }
        if (!patternNum.test(vCodeInputValue)) {
            alert("인증 번호는 숫자만 입력해주세요.");
            return false;
        }
        if (vCodeInputValue !== "" &&
            vCodeInputValue.length == 6 &&
            patternNum.test(vCodeInputValue)) {
            return true;
        } else {
            alert("올바른 인증 번호를 입력해주세요.");
            return false;
        }
    };
    document.querySelectorAll(".phone-num-validation").forEach(item => {
        item.addEventListener("keyup", event => {
            if (event.keyCode === 13) {
                phoneNumValidation();
            }
        })
    })
    $("#phoneNumVCodeBtn").on("click", function () {
        phoneNumValidation();
    });
    $("#phoneNumVCodeCheckBtn").on("click", function () {
        phoneNumValidation();
    });
    // time remaining until v code expires
    function timeRemaining(expDatetime) {
        const expDate = expDatetime.split("T")[0];
        const expTime = expDatetime.split("T")[1];
        var expYear = expDate.split("-")[0];
        var expMonth = expDate.split("-")[1];
        var expDay = expDate.split("-")[2];
        var expHour = expTime.split(":")[0];
        var expMinute = expTime.split(":")[1];
        var expSecond = expTime.split(":")[2];
        setMonth();
        var endTime = new Date(expYear, expMonth, expDay, expHour, expMinute, expSecond);
        function setClock() {
            var now = new Date();
            var totalTime = endTime;
            var _second = 1000;
            var _minute = _second * 60;
            var _hour = _minute * 60;
            var _day = _hour * 24;
            var distance = totalTime - now;
            if (distance < 0) {
                document.querySelectorAll(".willExpireOnSpan").forEach(element => {
                    element.textContent = "인증 시간 만료됨";
                });
                phoneNumVCodeInfo.innerText = "시간 만료"
                phoneNumVCodeInfo.setAttribute("style", "background: #ffc107; border-color: #ffc107;")
                id_v_code.readOnly = true;
                phoneNumVCodeCheckBtn.hidden = true;
                phoneNumVCodeCheckBtn.disabled = true;
                resetBtn.hidden = false;
                resetBtn.disabled = false;
                alert("인증 시간이 만료되었습니다.\n초기화 후 다시 시도해주세요.");
                return false;
            }
            var days = Math.floor(distance / _day);
            var hours = Math.floor((distance % _day) / _hour);
            var minutes = Math.floor((distance % _hour) / _minute);
            var seconds = Math.floor((distance % _minute) / _second);
            var days = days.toString();
            var hours = hours.toString();
            var minutes = minutes.toString();
            var seconds = seconds.toString();
            setTimeout(setClock, 1000);
            document.querySelectorAll(".willExpireOnSpan").forEach(element => {
                if (minutes > 0) {
                    element.textContent = `${minutes}분 ${seconds}초 후 만료됨`;
                } else {
                    element.textContent = `${seconds}초 후 만료됨`;
                }
            });
        }
        setClock();
        function setMonth() {
            expMonth = expMonth - 1;
        }
    }
    // reset
    function init() {
        location.href = "/accounts/social/signup/";
        // call 'spinner (transition)' function
        fadeOut();
        // call 'avoiding duplicate requests (btn disabled)' function
        setTimeout(inProgress, 0);
    }
</script>
{% endblock %}